<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="serviceName" value="notification-service"/>
    <property name="appPackage" value="com.pravoos.notification"/>
    <property name="appLogLevel" value="DEBUG"/>
    <property name="fileLogSizeCap" value="1GB"/>

    <include resource="logback/pravoos-base.xml"/>
</configuration>
