route:
  receiver: telegram
  group_by: ["alertname", "service"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h

receivers:
  - name: telegram
    telegram_configs:
      - bot_token: "__TELEGRAM_BOT_TOKEN__"
        chat_id: __TELEGRAM_ALERTS_CHAT_ID_1__
        parse_mode: "HTML"
        send_resolved: true
        message: "{{ range .Alerts }}<b>{{ .Labels.severity }}</b>: {{ .Annotations.summary }}\n{{ .Annotations.description }}\n{{ end }}"
      - bot_token: "__TELEGRAM_BOT_TOKEN__"
        chat_id: __TELEGRAM_ALERTS_CHAT_ID_2__
        parse_mode: "HTML"
        send_resolved: true
        message: "{{ range .Alerts }}<b>{{ .Labels.severity }}</b>: {{ .Annotations.summary }}\n{{ .Annotations.description }}\n{{ end }}"
